<!DOCTYPE html>
<html>
  <head>
    <title>Czasy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to  "Borne Furniture", root_path, class: "navbar-brand" %>
            </div>
        
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><%= link_to  "Produkty", products_path %></li>
                <li><%= link_to  "Maszyny", machines_path %></li>
                <li><%= link_to  "Rodziny produktów", product_families_path %></li>
                <li><%= link_to 'Stan magazynu', stock_index_path %></li>
                <% if user_signed_in? %>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wczytaj pliki <span class="caret"></span></a>
                  
                  <ul class="dropdown-menu">
                    <li><%= link_to  "Dodaj stan magazynu", new_stock_file_path %></li>
                    <li><a href="#">Wczytaj stan Com40</a></li>
                    <li><a href="#">Wczytaj zamówienia IKEA</a></li>
                    <li><a href="#">Wczytaj otwarte zamówienia IKEA</a></li>
                    <li><a href="#">Wczytaj otwarte zlecenia produkcyjne</a></li>
                  </ul>
                </li>
                <% end %>

              </ul>

              <ul class="nav navbar-nav navbar-right">
                <% if user_signed_in? %>
                  <li><%= link_to  "Wyloguj się", destroy_user_session_path, method: :delete %></li>
                <% else %>
                  <li><%= link_to  "Zaloguj się", new_user_session_path %></li>
                <% end %>
                
              </ul>
            </div>
          </div>
        </nav>

    <div class="container">

      <div class="page-header">
        <% if flash[:notice].present? %>

          <div class="alert alert-success">
            <%= flash[:notice] %>
          </div>

          <% end %>
      </div>

      <%= yield %>
    </div>
  </body>

  </html>
